<title>Add Manager</title>
<h1>Add Manager</h1>
<form method="POST" action="/managers/add">
<label>Manager ID:</label>
<input type="text" id="_id" name="_id" minlength="4" maxlength="4" required>
<br>
<label>Name:</label>
<input type="text" id="name" name="name" minlength="6" required>
<br>
<label>Salary:</label>
<input type="text" id="salary" name="salary" required>
<br>
<button type="submit">Add Store</button>
<br>
</form>
<a href="/stores">Back</a>