<title>Add Manager Error</title>

<!-- Error message if salary not between specified limit -->

<h1>Error Message</h1>

<h2>Salary must be between 30,000 and 70,000</h2>

<a href="/managers/add">Back</a>