<title>Update Store</title>

<!-- Allows user to edit a store -->

<h1>Edit Store</h1>
<form method="POST" action="/stores/edit/<%= store.sid %>">
<label>SID:</label>
<input type="text" id="sid" name="sid" value="<%= store.sid %>" readonly>
<br>
<label>Location:</label>
<input type="text" id="location" name="location" value="<%= store.location %>" minlength="1" required>
<br>
<label>Manager ID:</label>
<input type="text" id="mgrid" name="mgrid" value="<%= store.mgrid %>" minlength="4" maxlength="4" required>
<br>
<button type="submit">Update Store</button>
<br>
</form>
<a href="/stores">Back</a>