<title>Stores</title>

<h1>Add Stores</h1>

<a href="/stores/add">Add Store</a>

<table border="1">
    <tr>
        <th>Store ID</th>
        <th>Location</th>
        <th>Manager ID</th>
        <th></th>
    </tr>

    <% store.forEach((currentElement)=> { %>
        <tr>
            <td>
                <%= currentElement.sid %>
            </td>
            <td>
                <%= currentElement.location %>
            </td>
            <td>
                <%= currentElement.mgrid %>
            </td>
            <td>
                <a href="/stores/edit/<%= currentElement.sid %>">Update</a>
            </td>
        </tr>

        <% }) %>

            </tr>
</table>

<a href="/">Home</a>