<title>Update Store Error</title>

<!-- Error message if manager ID is managing another store-->

<h1>Error Message</h1>

<h2>That manager ID is already managing in another store</h2>

<a href="/stores">Back</a>